/* Règles de mise en page */

/* sections */

#intro {
    height: 93vh;
    margin: 31.5vh auto 31.5vh auto;
}

#intro-content {
    height: 30vh;
    display: flex;
    justify-content: center;
    align-content: center;
}

#intro-catchphrases {
    color: white;
    text-align: right;
    line-height: 1rem;
    display: block;
    margin: auto 0 auto 2rem;
}

#intro-catchphrases > h2 {
    color: #F04681;
    font-size: 3rem;
}

#intro-logo {
    max-width: 512px;
}

#intro-overlay {
    position: absolute;
    top: 7vh;
    max-height: 93vh;
    background-color: #2185D6;
    z-index: -1;
    overflow: hidden;
}

#intro-background {
    opacity: 50%;
    z-index: -2;
    width: 100%;
    height: auto;
}

nav {
    background-color: #2185D6;
    color: white;
    display: flex;
    justify-content: space-between;
    height: 7vh;
}

nav > div {
    margin: auto 1rem auto 0;
}

nav > div > a {
    margin: 0.5rem 1rem 0.5rem 1rem;
}

nav > h1 {
    margin: auto 0 auto 1rem;
}

button {
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 3rem;
    background: #F04681;
    color: white;
    border: none;
}

button:hover {
    background: #9E2E55;
    transition: .4s;
}