/* Règles de mise en page */

/* Import des polices */

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400&display=swap');

/* Règles typographiques de base */

h1, h2 {
    font-family: "Playfair Display", sans-serif;
    font-weight: 900;
}

h3 {
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}

p, ul > li, .search-filter {
    font-family: "Work Sans", sans-serif;
    font-weight: 300;
}


input {
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
}

nav > div {
    font-family: "Work Sans", sans-serif;
}

button {
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
}

.section-text {
    font-size: 1.5rem;
}

.section-text > h1 {
    font-size: 2.25rem;
}

/* corps */

html {
    scroll-behavior: smooth;
    scroll-snap-stop: always;
}

body {
    overflow-x: hidden;
}

/* sections */

nav {
    background-color: #2185D6;
    color: white;
    display: flex;
    justify-content: space-between;
    height: 7vh;
    width: 100vw;
}

nav > div {
    margin: auto 1rem auto 0;
}

nav > div > a {
    margin: 0.5rem 1rem 0.5rem 1rem;
}

nav > h1 {
    margin: auto 0 auto 1rem;
}

nav > h1 > a {
    text-decoration: none;
    color: white;
}

#intro {
    height: 103vh;
    width: 100vw;
}

#intro-content {
    height: 60vh;
    margin: 15vh auto 15vh auto;
}

#intro-content > button {
    display: block;
    margin: 3rem auto 0 auto;
}

#intro-main {
    display: flex;
    justify-content: center;
}

#intro-catchphrases {
    position: relative;
    top: 2.75rem;
    color: white;
    text-align: right;
    line-height: 1rem;
    text-shadow: black 0 0 0.5rem;
    margin-left: 2rem;
}

#intro-catchphrases > h2 {
    color: #F04681;
    font-size: 3rem;
}

#intro-logo {
    max-width: 512px;
    filter: drop-shadow(0 0 0.5rem black);
}

#intro-justification {
    color: white;
    text-align: center;
    display: block;
    margin: 3rem 25% 0 25%;
}

#intro-overlay {
    position: absolute;
    top: 7vh;
    height: 103vh;
    background: black;
    z-index: -1;
}

#intro-background {
    opacity: 50%;
    z-index: -2;
    width: 100vw;
    height: 103vh;
    background: url(../img/home-bgn.jpg);
    background-size: cover;
}

.section {
    position: absolute;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-content: center;
    clip-path: polygon(100% 0, 100% 90%, 0 100%, 0 10%);
}

.section-content {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-items: center;
    color: white;
}

.section-illustration {
    width: 50vw;
    height: 100%;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-illustration > img {
    width: 60vw;
    height: 60%;
    filter: drop-shadow(0 0 0.5rem #000000);
}

.section-text {
    width: 50vw;
    padding: 10%;
}

#section-1 {
    top: 100vh;
    background-color: #AAA2F5;
}

#section-1 .section-content > .section-illustration {
    background: url(../img/musicians-band.jpg) no-repeat;
    background-size: cover;
}

#section-2 {
    top: 190vh;
    background-color: #0ADB88;
}

#section-2 .section-content > .section-illustration {
    background: url(../img/guitar-band.jpg) no-repeat;
    background-size: cover;
}

#section-3 {
    top: 280vh;
    background-color: #F04681;
}

#section-3 > .section-content > .section-illustration {
    background: url(../img/guitar-monochrome.jpg) no-repeat;
}

#section-4 {
    top: 370vh;
    background-color: #9226C0;
}

#section-4 > .section-content > .section-text {
    width: 70vw;
}

#section-4 > .section-content > .section-illustration {
    width: 20vw;
    margin-left: 10vw;
}

.search, footer {
    position: absolute;
}

.search {
    top: 459vh;
    height: 100vh;
    width: 100vw;
    background: #2185D6;
    display: flex;
    justify-content: center;
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 10%);
}

.search > h2 {
    position: absolute;
    top: 10vh;
    color: white;
    font-size: 3rem;
}

.search-area {
    position: absolute;
    padding: 1rem;
    width: 80vw;
    height: 65.5vh;
    bottom: 0;
    border-radius: 1rem 1rem 0 0;
    background: white;
    box-shadow: black 0 0 0.5rem;
}

#search-bar {
    width: calc(80vw - 2rem);
    padding: 0.85rem;
    border: solid 2px #AAA2F5;
    border-radius: 0.5rem;
}

#search-icon {
    position: absolute;
    right: 1.7rem;
    top: 2rem;
}

.edit-filters > input {
    border: none;
    border-bottom: solid 2px #AAA2F5;
    margin-right: 0.5rem;
}

.search-filters {
    display: flex;
    justify-items: left;
}

.search-filter {
    padding: 0.15rem 0.5rem 0.15rem 0.5rem;
    margin-right: 0.5rem;
    border-radius: 1rem;
    width: fit-content;
    background: lightgray;
}

.slider {
    width: calc(80vw - 2rem);
    position: absolute;
    display: flex;
    justify-content: left;
    justify-items: left;
    overflow: scroll;
    list-style: none;
    margin: 0;
    overflow-y: hidden;
}

.slider::-webkit-scrollbar-button {
    display: none;
}

.slider > li {
    min-width: 10rem;
    min-height: 10rem;
    padding: 0.5rem;
    margin: 0.5rem;
    border: solid 2px #AAA2F5;
    border-radius: 0.5rem;
    transition: .2s;
}

.slider > li:hover {
    box-shadow: black 0 0 0.5rem;
}

footer {
    width: 100vw;
    background: #8DBADE;
}

.home-footer {
    top: 559vh;
    height: 16vh;
}

.socials {
    display: flex;
    justify-content: center;
}

.social {
    margin-top: 0.3rem;
    width: 9px;
    border-radius: 2rem;
    background: #8DBADE;
    text-indent: -4px;
}

.social:hover {
    background: #B0CFE8;
}

.footer-text {
    display: flex;
    justify-content: center;
    text-align: center;
    line-height: 1.5rem;
}

.contact {
    height: 80vh;
}

.contact > #intro-overlay > #intro-background {
    background: url(../img/scene-instruments.jpg) center;
    background-size: cover;
}

.contact > h1 {
    font-size: 5rem;
}

.contact > h1, .contact > p {
    text-align: center;
    color: white;
}

.contact-info {
    display: flex;
    justify-content: center;
}

.contact-profile {
    height: 10rem;
    text-align: center;
    color: white;
    margin: 2rem;
}

.contact-profile > img {
    height: 25vh;
    width: auto;
    border-radius: 100%;
}

button {
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 3rem;
    background: #F04681;
    color: white;
    border: none;
}

button:hover {
    background: #9E2E55;
    transition: .4s;
}